* {
    box-sizing: border-box;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
	
}



.col-1 {width: 5%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 30%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;
display : none;

}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.row-1 {
		height : 25%;
}
table {
	margin-left: 30%;
	margin-top: 10%;
	color:white;
    border: 1px;
    border-style: solid;
    padding: 6px;
    table-layout: fixed;
}

th, td {
    border: 1px;
    border-style: dotted;
    padding: 5px;
    text-align: center;
}

#calimgl{
	
	 border:.6em solid #fff;
	
}
#new_clock{
	width:100%;
	height:100%;
}

#new_clock{
	width:100%;
	height:100%;
}
 #newcalendar{
		height: 100%;
		width: 100%;
		
		padding:5% 10%;
		display: none;
		
	}
	
	#newweather{
		height: 100%;
		width: 100%;
		display: none;

		
	}
	#home-btn {
		
		
		position: absolute;
		right: 10%;
		
		top: 70%;
	}
	
#get_weather{
	padding-top: 25px;
	width:24%;
	height:100px;
	text-align:center;
	margin-top: 1.5%;
	margin-left: 60px;
	
	
}


	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}