body {  background-image:url(back4.jpg); }
ul { 

	display:block;
	position:relative;
	list-style:none;
	margin:2;
	
	color: red;
	text-align:center;
	
}

#digwatch {
	
	display:block;
	font-size:5em;
	color: red;
	
	

 }


#digwatch .digital-wrap {
    width: 90%;
    height: 100px;
    border: .1em solid #000;
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    background: #000;
	margin-top:1.05%;

}
#digwatch .digital-wrap ul {
  float:left;
  width:2.15em;
  padding:10px;
  height:3em;
  border-right:.1em solid #fff;
  color:fff;
  font-family:Consolas, monaco, monospace;
}
#digwatch .digital-wrap ul:last-child { border:none }


@keyframes dsm {
  to { transform:translateY(-120em) }
}
body { font-size:62.5%; margin:1em;  }
ul { list-style:none; margin:0; padding:0 }
#watch2 { font-size:1em; position:relative;}

#watch2 .frame-face {
  position:relative;
  width:30em;
  height:30em;
  margin:2em auto;
  border-radius:15em;
  background:-webkit-linear-gradient(top, #000000,#000);
  background:-moz-linear-gradient(top, #000000,#000);
  background:linear-gradient(to bottom, #000000,#000);
  box-shadow:rgba(0,0,0);
}

#watch2 .frame-face:after {
  content:'';
  width:28em;
  height:28em;
  border-radius:14.2em;
  position:absolute;
  top:.9em; left:.9em;
  box-shadow:inset rgba(0,0,0) .2em .2em 1em;
  border:.1em solid rgba(0,0,0);
  background:-webkit-linear-gradient(top, #fff, #ccc);
  background:-moz-linear-gradient(top, #fff, #ccc);
  background:linear-gradient(to bottom, #fff, #ccc);
}


#watch2 .digits {
  width:30em;
  height:30em;
  border-radius:15em;
  position:absolute;
  top:0; left:50%;
  margin-left:-15em;
}
#watch2 .digits li {
  font-size:1.6em;
  display:block;
  width:1.6em;
  height:1.6em;
  position:absolute;
  top:50%; left:50%;
  line-height:1.6em;
  text-align:center;
  margin:-.8em 0 0 -.8em;
  font-weight:bold;
}
#watch2 .digits li:nth-child(1) { transform:translate(3.9em, -6.9em) }
#watch2 .digits li:nth-child(2) { transform:translate(6.9em, -4em) }
#watch2 .digits li:nth-child(3) { transform:translate(8em, 0) }
#watch2 .digits li:nth-child(4) { transform:translate(6.8em, 4em) }
#watch2 .digits li:nth-child(5) { transform:translate(3.9em, 6.9em) }
#watch2 .digits li:nth-child(6) { transform:translate(0, 8em) }
#watch2 .digits li:nth-child(7) { transform:translate(-3.9em, 6.9em) }
#watch2 .digits li:nth-child(8) { transform:translate(-6.8em, 4em) }
#watch2 .digits li:nth-child(9) { transform:translate(-8em, 0) }
#watch2 .digits li:nth-child(10) { transform:translate(-6.9em, -4em) }
#watch2 .digits li:nth-child(11) { transform:translate(-3.9em, -6.9em) }
#watch2 .digits li:nth-child(12) { transform:translate(0, -8em) }


@keyframes hours { to {transform:rotate(335deg)} }
#watch2 .hours-hand {
  width:.8em;
  height:7em;
  border-radius:0 0 .9em .9em;
  background:#232425;
  position:absolute;
  bottom:50%; left:50%;
  margin:0 0 -.8em -.4em;
  box-shadow:#232425 0 0 2px;
  transform-origin:0.4em 6.2em;
  transform:rotate(0deg);
  animation:hours 43200s linear 0s infinite;
}
#watch2 .hours-hand:before {
  content:'';
  background:inherit;
  width:1.8em;
  height:.8em;
  border-radius:0 0 .8em .8em;
  box-shadow:#232425 0 0 1px;
  position:absolute;
  top:-.7em; left:-.5em;
}
#watch2 .hours-hand:after {
  content:'';
  width:0; height:0;
  border:.9em solid #232425;
  border-width:0 .9em 2.4em .9em;
  border-left-color:transparent;
  border-right-color:transparent;
  position:absolute;
  top:-3.1em; left:-.5em;
}

@keyframes minutes { to {transform:rotate(422deg)} }
#watch2 .minutes-hand {
  width:.8em;
  height:12.5em;
  border-radius:.5em;
  background:#343536;
  position:absolute;
  bottom:50%; left:50%;
  margin:0 0 -1.5em -.4em;
  box-shadow:#343536 0 0 2px;
  transform-origin:0.4em 11em;
  transform:rotate(0deg);
  animation:minutes 3600s linear 0s infinite;
}
@keyframes seconds { to {transform:rotate(480deg)} }
#watch2 .seconds-hand {
  width:.2em;
  height:14em;
  border-radius:.1em .1em 0 0/10em 10em 0 0;
  background:#c00;
  position:absolute;
  bottom:50%; left:50%;
  margin:0 0 -2em -.1em;
  transform-origin:0.1em 12em;
  transform:rotate(0deg);
  animation:seconds 60s steps(60, end) 0s infinite;
}#watch2 .seconds-hand:after {
  content:'';
  width:1.4em;
  height:1.4em;
  border-radius:.7em;
  background:inherit;
  position:absolute;
  left:-.65em; bottom:1.35em;
}
#watch2 .seconds-hand:before {
  content:'';
  width:.8em;
  height:3em;
  border-radius:.2em .2em .4em .4em/.2em .2em 2em 2em;
  box-shadow:rgba(0,0,0,.8) 0 0 .2em;
  background:inherit;
  position:absolute;
  left:-.35em; bottom:-3em;
}


@keyframes dsm {
  to { transform:translateY(-120em) }
}
